#body-text{
    float: left;
    background: RosyBrown;
    width: 40%;
    height: 100vh;
}

.header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 55px;
    letter-spacing: .8px; 
    text-decoration: none; 
    color: oldlace;
    margin-left: 40%;
    margin-top: 45%;
}

.sub-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: .8px; 
    text-decoration: none; 
    color: oldlace;
    position: relative;
    margin-left: 41%;
    bottom: 30px;
}

#login-text{
    float: right;
    background: oldlace;
    width: 60%;
    height: 100vh;
}

.admin, .user, .new_user{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: .8px; 
    text-decoration: none;
    color: rosybrown;
    position: absolute;
    margin-right: 25%;
    margin-top: 18%;
    margin-left: 50px;
}

.user{
    margin-top: 22%;
}

.new_user{
    margin-top: 26%;    
}

.admin:hover, .user:hover, .new_user:hover{
    cursor: pointer;
    transform: skew(-10deg);
}

#admin-opts{
    float: right;
    background: oldlace;
    width: 60%;
    height: 100vh;
}


.insert, .search{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: .8px; 
    text-decoration: none;
    color: rosybrown;
    position: absolute;
    margin-right: 25%;
    margin-top: 18%;
    margin-left: 50px;
}

.search{
    margin-top: 24%;
}

.insert:hover, .search:hover{
    cursor: pointer;
    transform: skew(-10deg);
}

.searchu{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: .8px; 
    text-decoration: none;
    color: rosybrown;
    position: absolute;
    margin-right: 25%;
    margin-top: 20%;
    margin-left: 50px;
}

.searchu:hover{
    cursor: pointer;
    transform: skew(-10deg);
}

#insert-form{
    float: left;
    width: 100%;
    height: 100vh;
    background: oldlace;
}

.insert-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: .8px; 
    text-decoration: none;
    color: rosybrown;
    margin-top: 100px;
    text-align: center;
}

.insert-attribute{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: .8px; 
    text-decoration: none;
    color: rosybrown;
    margin-top: 40px;
    text-align: center;
}

#search-form{
    float: left;
    width: 100%;
    height: 100vh;
    background: oldlace;
}

.search-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: .8px; 
    text-decoration: none;
    color: rosybrown;
    margin-top: 100px;
    text-align: center;
}

.search-attribute{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: .8px; 
    text-decoration: none;
    color: rosybrown;
    margin-top: 40px;
    text-align: center;
}

.button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: .8px; 
    text-decoration: none;
    color: rosybrown;
    margin-top: 40px;
    text-align: center;  
    background-color: oldlace;
    border: oldlace;
}


.button:hover{
    cursor: pointer;
    transform: skew(-10deg);
}

#table{
    height: 100%; 
    margin: 0px;
    float: right;
    background: oldlace;
    width: 100%;
    height: 100vh; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: .8px; 
    text-decoration: none;
    color: rosybrown;
}
